<app-cabecera></app-cabecera>
<div class="contenido">
  <div class="row">
    <div class="col-1">
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
      Laborum sint et in aute dolor consectetur id ullamco incididunt mollit.
    </div>
  </div>
</div>
<app-pie [ngClass]="{'fixed-bottom': fijarPie()}" ></app-pie>
